# Frontend app
PUBLIC_API_BASE_URL=http://localhost:5000/api/v1
PUBLIC_SITE_URL=http://localhost:3000

# CDN
# PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name

# Auth
PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

# Logging
PUBLIC_LOG_LEVEL=info
